<!--3.4 se añade un documento html que sera obtenido como respyuesta a la peticion
Este elemento cuenta con una variable en corchetes a la cual se le debe indicar el 
valor-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <p>Te quiero yo y tu a mi</p>
    {{elementoinsertado}}
</body>
</html>
<!--f3.4(firstapp/urls.py)->