<!--4.4 Archivo html donde se va a renderizar la imagen (archivo estatico)
se cargan todos los archivos, los comandos estan entre %%
se usan los estilos de static/css/paginababy.css-->
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/paginababy.css"%}" />
    <script src="main.js"></script>
</head>
<body>
    <h1>
        Baby Groot
    </h1>
    <img src="{% static "images/baby_groot.jpg"%}" alt="un bebe">
</body>
</html>
<!--f4.4 (firstapp/urls.py)-->